.feature-box {
  background-color: rgba($color-white, 0.7);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: all ease-in-out 0.2s;

  min-height: 34rem; // CHANGING THIS HEIGHT CHANGES THE BACKGROUND IMAGE PROPERTY, ZOOMES UNWANTEDLY
  //DEFINING PROPERTY BACKGROUND-SIZE:100% fixed that
  height: 100%;

  @include respond(tab-port) {
    padding: 2rem;
    max-width: 70%;
    margin: 0 auto;
    min-height: 24rem;
  }
  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      #{$color-primary-light},
      #{$color-primary-dark}
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
  &__text {
  }
}
