.story {
  margin: 0 auto;
  background-color: rgba($color-grey-light-2, 0.65);
  width: 75%;
  display: block;
  min-height: 21rem;
  // max-height: 21rem;
  border-radius: 3px;
  padding: 3rem 6rem;
  font-size: $font-size-default;
  transform: skewX(-12deg);

  box-shadow: 1rem 2rem 4rem rgba($color: #000000, $alpha: 0.3);

  @include respond(phone){
    transform: skewX(0);
    padding:2rem 3rem;

  }
  // all first child selector
  //   &>*{transform: skewx(12deg);}
  //this only skewed back the story__text but not the story__shape and story__img within because Story__shape already has
  //a transform property inside it and that take precedence. so must do it individually

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    backface-visibility: hidden;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    // shape-outside: circle(20% at 10% 50%);

    transform: translateX(-1.5rem) skewX(12deg); //Floated elements are better to be translated than margin-edited when shape-outside and clip path are done

    @include respond(phone){
      transform: translateX(-1.5rem) skewX(0);
  
    }
  }

  &__text {
    transform: skewX(12deg);
    
  @include respond(phone){
    transform: skewX(0);
  }
    
  }

  &__img {
    height: 100%;

    transition: all ease-in-out 0.2s;
    transform: translateX(-3.5rem) scale(1.2); // scale for hover zoom out effect, translateX for centering rectangular image
    //    object-fit: scale-down; // didnt work
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-size: 1.7rem;

    opacity: 0;
    transform: translate(-50%, 20%);
    transition: all ease-in-out 0.3s;
  }

  & p {
    margin: 0;
    padding: 0;
  }

  &:hover &__img {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(4px) brightness(80%);
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

