* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //this defines what 1 rem is. Default is 16px, to make default 10px, => 62.5%

  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 40%; // 1 rem = 8px 8/16 = 50%
  }

  //   @include respond(big-screen) {
  //     font-size: 80%; // 1 rem = 12 px 12/16 = 80%
  //   }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
