// @import './../abstract/variables';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInRight;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;

    @include respond(tab-port) {
      letter-spacing: 1.5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation: moveInLeft 0.5s ease-in-out;

    @include respond(tab-port) {
      letter-spacing: 1rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: transform 0.3s ease-in-out;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.7rem;
  }

  &:hover {
    // transform: skewX(5deg) skewY(3deg);
    cursor: default;
    text-shadow: 0.5rem 1rem 2rem rgba($color: #000000, $alpha: 0.4);
  }
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
