.section-about {
  max-width: 100%;
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-land) {
    padding: 20rem 0;
  }

  @include respond(tab-port) {
    padding: 20rem 0 17rem;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(rgb(55, 192, 28), 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url('../img/nat-4.jpg');
  // background-size: cover;
  // background-position: center;
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -11vh;

  @include respond(tab-port) {
    padding: 15rem 0;
  }

  & > *.row {
    transform: skewY(6deg);
  }
}

.section-tours {
  max-width: 100%;
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10vh;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  width: 100%;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;

    // & row{
    //   max-width: 100% !important;
    // }
  }
}

.section-book {
  padding: 15rem 4rem;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 10rem 4rem;
  }
  @include respond(phone) {
    padding: 10rem 1rem;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-grey-light-1, 0.8) 0%,
      rgba($color-grey-light-1, 0.8) 50%,
      transparent 50%
    ),
    url('../img/nat-10.jpg');

  background-size: cover;
  border-radius: 3px;
  // height: 50rem;
  padding: 2rem 5rem;

  @include respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba($color-grey-light-1, 0.8) 0%,
        rgba($color-grey-light-1, 0.8) 65%,
        transparent 65%
      ),
      url('../img/nat-10.jpg');

    background-size: cover;
  }
  &__form {
    width: 50%;
    font-size: 1.5rem;

    @include respond(tab-port) {
      width: 66%;
    }
  }
}
