.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 200;
    text-align: center;
    cursor: pointer;

    @include respond(tab-port){
      top: 3rem;
    right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.3rem;
    right: 6.3rem;

    // background-color: rgba($color: orangered, $alpha: 0.5);
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary2-dark
    );
    z-index: 100;
    // transform: scale(50);
    transition: all ease-in-out 0.3s;

    @include respond(tab-port){
      top: 3.5rem;
    right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    opacity: 0;
    visibility: hidden;
    // display: none;
    transform: skew(-12deg, 0deg) scale(0.5) translate(50%, -50%);

    transition: all ease-in-out 0.3s;
  }

  &__list {
    @include absolutecenter;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 260%;
      transition: all 0.3s ease-in-out;

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
    }
  }

  //FUNCTIONALITY

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    // display: block;
    visibility: visible;
    width: 100%;
    transform: skew(0deg, 0deg) scale(1) translate(0%, 0%);
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    transition: all ease-in-out 0.1s;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all ease-in-out 0.4s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  //HOVERING

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
